.app {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 30px 0 0 150px;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-image: url("/background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.elements {
  margin-left: 200px;
}

@media (prefers-reduced-motion: no-preference) {
  .float__h1 {
    animation: float__h1 1 2s linear;
  }
}
@keyframes float__h1 {
  0% {
    transform: translateX(4vh);
    opacity: 0%;
    color: white;
  }
  50% {
    transform: translateX(2vh);
  }
  100% {
    transform: translateX(0px);
    opacity: 100%;
  }
}
